* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    position: relative;
}

#indexheader {
    display: flex;
    align-items: center;
    width: 100vw;
    position: sticky;
}

#sitelogo {
    overflow-y: hidden;
    height: 65px;
    z-index: 4;
    transition: transform .5s;
}

#sitelogoimg {
    width: 100%;
    height:100%;
}

#titletext {
 text-decoration: none;
 position: absolute;
 margin-left: 80px;
 z-index: 3;
 font-family: 'Cooper Black', sans-serif;
}

#titletexth1 {
    background: url(../img/woodtexture.jpg) no-repeat center center;
     background-size: cover;
     color: #fff;
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
     -moz-background-clip:text;
     background-clip:text; 
     font-size: 1.5rem;
     padding:0;
     margin:0;
     text-align:center;
}

#hemclick {
     background: url(../img/nwoodtexture.jpg) no-repeat center center;
     background-size: cover;
     color: #ffffff;
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
     -moz-background-clip:text;
     background-clip:text; 
     padding:0;
     font-size: 1rem;
     margin:0;
     text-align:center;
}

#shopclick {
    background: url(../img/swoodtexture.jpg) no-repeat center center;
    background-size: cover;
    color: #ffffff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text;
    padding:0;
    font-size: 1rem;
    margin:0;
    text-align:center;
}

#omossclick {
    background: url(../img/awoodtexture.jpg) no-repeat center center;
    background-size: cover;
    color: #ffffff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text;
    padding:0;
    font-size: 1rem;
    margin:0;
    text-align:center;
}




nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: na;
}

#arrow div {
    width: 22px;
    height: 4px;
    background-color: #5c94b3;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

#nav-links {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100vw;
    background-color: #261e23;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 81px;
    right: -1000px;
    transition: all 0.5s;
    z-index: 4;
}

#nav-links li {
    list-style: none;
}

#nav-links a {
    font-size: 3rem;
    letter-spacing: 0.1875rem;
    color: rgb(127, 14, 50);
    font-family: 'Cooper Black', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

#arrow {
    position: absolute;
    margin-right: 55px;
    cursor: pointer;
    overflow-y: hidden;
}

#arrow_line_1 {
    transform: rotate(-45deg) translate(0px, -3px);
}

#arrow_line_2 {
    transform: rotate(45deg)  translate(0px, 3px);
}

#sitelogo:hover {
    transform: scale(1.2);
}

.arrow_toggle #arrow_line_1 {
    transform: rotate(45deg) translate(0px, -3px);
}

.arrow_toggle #arrow_line_2 {
    transform: rotate(-45deg) translate(0px, 3px);
}

.nav_active {
    transform: translateX(-1000px);
}


#grid_wrapper {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 80px 88vw 88vw 88vw 80px;
    grid-template-areas: 
        "he na"
        "s1 s1"
        "s2 s2"
        "s3 s3"
        "fo fo";
    width: 100vw;
    background: #dcb695;
}

#grid_wrapper section {
    width: 100vw;

}


header {
    grid-area: he;
    background: #261e23;
}

#section_1 {
    grid-area: s1;
    background: #dcb695;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "g_scn1txt g_scn1img";
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
}

#section_1 h2 {
    position: absolute;
    text-align: center;
    top: calc(80px + 1%);
    font-family: 'Cooper Black', sans-serif;
    font-size: 6vw;
    color: #5c94b3;
}


#scn1p {
 grid-area: g_scn1txt;
 size: 100%;
 font-size: 4.25vw;
 font-family: 'Averia Serif Libre';
 margin: 2%;

}

#scn1img {
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#scn1flex2 {
    grid-area: g_scn1img;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding: 10px;
}


#scn1btn {
    position: relative;
    top: 40px;
    background-image: url(../img/bluewoodtexture.png);
    border: none;
    background-position: center center;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    border-radius: 15px;
    transition: transform 0.3s;
}

#scn1btn div {
    font-family: 'Cooper Black', sans-serif;
    font-size: 4vw;
}

#scn1btn:hover {
    transform: scale(95%);
}

#section_2 {
    grid-area: s2;
    display: grid;
    grid-template-rows: 2.3fr 10fr;
    grid-template-areas: 
    "s2p1"
    "s2p2";
    background: #dcb695;
    width: 100%;
    height: 100%;
}

#scn2title {
    grid-area: s2p1;
    text-align: center;
    position: relative;
    top: 10%;
    font-size: 2.5vw;
    font-family: 'Cooper Black', sans-serif;
    color: #5c94b3;
}

#scn2itembox {
    grid-area: s2p2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#scn2itembox a {
    width: 30%;
    height: 79%;
    background-color: azure;
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-family: 'Averia Serif Libre';
    text-align: center;
    font-size: 2.4vw;
    align-self: center;
    transition: transform .4s;
    text-decoration: none;
    color: black;

}

#scn2itembox a:hover {
    transform: scale(1.15);
}

#scn2itembox img {
    width: 100%;
}

#scn2btndiv {
    position: relative;
    top: 40px;
    background-image: url(../img/bluewoodtexture.png);
    border: none;
    background-position: center center;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    border-radius: 15px;
    transition: transform 0.3s;
    display: none;
}

#section_3 {
    grid-area: s3;
}


footer {
    grid-area: fo;
    background: lightcoral;
}


@media screen and (min-width: 800px) {

    

    #indexheader {
        width: 350px;
    }
    
    #arrow {
        display: none;
    }

    #grid_wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 44vw 44vw 80px;
        grid-template-areas: 
            "he he"
            "s1 s2"
            "s3 s3"
            "fo fo";
    }

    #grid_wrapper section {
        width: 100%;
    
    }

    #section_1 h2 {
        font-size: 3vw;
    }

    #scn1p {
        font-size: 2.125vw;
    }


    #nav-links {
        flex-direction: row;
        height: 80px;
        width: calc(100vw - 350px);
        top: 0px;
        position: absolute;
        left: 350px;
    }

    #nav-links a {
        font-size: 1.5rem;
    }

    .nav_active {
        transform: none;
    }

}